body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    /*font: normal 16px sans-serif;*/
    /*padding: 60px 0;*/
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery {
    padding: 40px;
    margin-top: 15%;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

img{
    
    height: 350px;
    object-fit: cover;
}


nav .logo {
	color:rgb(165, 157, 124);
	font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    
}

nav .logo img {
    border-radius: 50%;
    margin-top: 2.5rem;
    height: 90px;
    width: 85px;
    
    
}

nav .logo a {
	color:rgb(165, 157, 124);
	text-decoration: none;
	line-height:30px;
    
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 45, 45);
    height: 22vh;
    width: 100%;
    position:absolute;
    
}

nav a{
    color: rgb(165, 157, 124);
    text-decoration: none;
    
    

}


nav ul{
    display: flex;
    list-style-type: none;
    margin-top: 3rem;
    
    
    
    
}
nav ul li{
    margin: 0.6em;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}
a:hover{
    color: violet;
    text-decoration: none;
    
}

    
.submenu{
    display: none;
    position: absolute;
    min-width: 100px;
    text-align: left;
    background-color: rgb(48, 45, 45);
    margin-top: 0.5rem;
    background-color: rgb(64, 31, 95);
    padding-left: 0%;
    
}

nav li:hover>ul{
    display:block;
}
.principal{
    display: flex;
    
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
@media screen and (max-width:640px){
    nav .logo {
        color:rgb(165, 157, 124);
        font-size:20px;
        font-family: 'Times New Roman', Times, serif;
        
    }
    
    nav .logo img {
        border-radius: 50%;
        margin-top: 2.5rem;
        margin-left: 20px;
        height: 45px;
        width: 40px;
        
        
    }
    
    nav .logo a {
        color:rgb(165, 157, 124);
        text-decoration: none;
        line-height:40px;
        
    }
    
    nav{
        display: flex;
        justify-content: space-around;
        background-color: rgb(48, 45, 45);
        height: 25vh;
        width: 100%;
        position:absolute;
        
    }
    
    nav a{
        color: rgb(165, 157, 124);
        text-decoration: none;
        
        
    
    }
    
    
    nav ul{
        display: flex;
        list-style-type: none;
        display: block;
        margin-top: 20px;
        margin-left: 0;
        
        
        
    }
    nav ul li{
        margin: 0.6em;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        
        
    }
    a:hover{
        color: violet;
        text-decoration: none;
        
    }
    
        
    .submenu{
        display: none;
        position: absolute;
        min-width: 100px;
        text-align: left;
        background-color: rgb(48, 45, 45);
        margin-top: 0.5rem;
        background-color: rgb(64, 31, 95);
        padding-left: 0%;
        
    }
    
    nav li:hover>ul{
        display:block;
    }
    .principal{
        display: flex;
        
    }
    .tz-gallery {
        padding: 40px;
        margin-top: 40%;
    }
    

}
@media screen and (max-width:1024px)and (min-width:640px){
    .tz-gallery {
        padding: 40px;
        margin-top: 20%;
    }
   
}
@media screen and (max-width:1024px){
    
   }

   