*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
    
    
}
header .logo {
	color:rgb(165, 157, 124);
	font-size:30px;
    
}

header .logo img {
    border-radius: 50%;
	width:32%;
	vertical-align: middle;
    margin-top: 2rem;
    
    
}

header .logo a {
	color:rgb(165, 157, 124);
	text-decoration: none;
	line-height:30px;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 45, 45);
    height: 22vh;
    width: 100%;
    position:absolute;
    
    
}

header a{
    color: rgb(165, 157, 124);
    text-decoration: none;
    
    

}



header ul{
    display: flex;
    list-style-type: none;
    margin-top: 2.5rem;
    justify-content: center;
    
    
    
}
header ul li{
    margin: 0.6em;
    font-size: 18px;
    
    
}
a:hover{
    color: violet;
    
}
.submenu{
    display: none;
    position: absolute;
    min-width: 100px;
    text-align: left;
    background-color: rgb(48, 45, 45);
    margin-top: 0.5rem;
    background-color: rgb(64, 31, 95);
    border-color: beige;
    
}

header li:hover>ul{
    display:block;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 4rem;
    padding-top: 10%;
}

.grid-item{
    background: rgba(48, 41, 41, 0.3);
    border: 1px, solid , black;
    display: grid;
    grid-template-columns: 400px 0.5fr;

    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;

    color: rgb(41, 36, 36)
}

footer{
    text-align: center;
    background-color: rgb(36, 33, 33);
    color: beige;
    height: 15vh;
    padding-top: 2%;
    width: 100%;
    margin-top: 0%;
}
@media screen and (max-width:640px){
    header .logo {
        color:rgb(165, 157, 124);
        font-size:20px;
        font-family: 'Times New Roman', Times, serif;
        
    }
    
    header .logo img {
        border-radius: 50%;
        margin-top: 2.5rem;
        margin-left: 20px;
        height: 45px;
        width: 40px;
        
        
    }
    
    header .logo a {
        color:rgb(165, 157, 124);
        text-decoration: none;
        line-height:40px;
        
    }
    
    header{
        display: flex;
        justify-content: space-around;
        background-color: rgb(48, 45, 45);
        height: 25vh;
        width: 100%;
        position:relative;
        
    }
    
    header a{
        color: rgb(165, 157, 124);
        text-decoration: none;
        
        
    
    }
    
    
    header ul{
        display: flex;
        list-style-type: none;
        margin-top: 3rem;
        display: block;
        margin: 0;
        margin-left: 0;
        
        
        
    }
    header ul li{
        margin: 0.6em;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        
        
    }
    a:hover{
        color: violet;
        text-decoration: none;
        
    }
    
        
    .submenu{
        display: none;
        position: absolute;
        min-width: 100px;
        text-align: left;
        background-color: rgb(48, 45, 45);
        margin-top: 0.5rem;
        background-color: rgb(64, 31, 95);
        padding-left: 0%;
        
    }
    
    header li:hover>ul{
        display:block;
    }
    .principal{
        display: flex;
        
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 0.5fr));
        gap: 2rem;
        
    }
    
    .grid-item{
        background: rgba(48, 41, 41, 0.3);
        border: 1px, solid , black;
        display: grid;
        grid-template-columns: 350px 0.5fr;
    
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        padding-top: 10%;
        padding-left: 0%;
        
    
        color: violet;
    }

    iframe{
        width:360px;
        height: 180px;
    }

    footer{
        text-align: center;
        background-color: rgb(36, 33, 33);
        color: beige;
        height: 15vh;
        padding-top: 2%;
        width: 100%;
        margin-top: 0%;
    }
}

